* {
	margin:0px;
	padding: 0px;
}
.container {
	margin: 0 20px;
}
button {
	padding: 5px 10px;
}
.add-comment {
	padding: 20px 0;	
}
textarea, input {
	width: 98%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 1%;
}
.comments {
	.comment {
		background: #eee;
		border: 1px solid #ccc;
		padding: 10px;
		margin-bottom: 10px;
	}
	.actions {
		padding: 10px 0 0 0;
		button {
			margin-right: 10px;	
		}		
	}
}